/* Import 'Roboto' fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* '*' selects all the elements */
* {
    /* This property allows us to include the padding and border in an elements total width and height. By default, height of an element calculated like this: height+border+padding = actual width of an element*/
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    /* min-height property defines the minimum height of an element. If the content is smaller than min-height, the min-height will be applied. Otherwise it has no effect */
    min-height: calc(100vh - 101.333px);
    /* Specifies the size of the background images. Value of this property: 
    1.auto(default, displayed at it's original size)
    2.cover(Resize the img to cover the entire container, stretch it and also cut a little bit at edges in the process.
    3.container(Resize the img to make sure the img is fully visible)
    4.percentage or pixel value(can explicitly set the value)
    */
    background-size: cover;
    /* Sets the starting position of a background image. By default background images is placed at top-left corner. */
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./Pictures/car-bg.jpg);
    color: #fff;
}

.container {
    /* Defines maximum length of an element. */
    max-width: 100%;
    width: 1000px;
    margin: 0 auto;
}

.content {
    margin: auto;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    /* padding: 3rem; */
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav .logo {
    font-size: 2rem;
}

nav li a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

.highlight {
    background-color: #00C2FF;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

.selected {
    font-weight: bold;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 2rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    list-style-type: none;
}

footer strong {
    color: #00C2FF;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 700px) {
    nav {
        /* flex-direction: column; */
    }

    nav ul {
        display: none;
    }

    nav .highlight {
        display: none;
    }

    .content {
        font-size: 1.4rem;
        padding: 1rem;
    }
}