// Custom Variables
// $dark: #f64c72;
// $light: #242582;
// $secondary: #6c6ee1;
// $primary: #2f2fa2;
// 2f2fa2 99738e f64c72 553d67 242582

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss'